[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
requests = "*"
influxdb = "*"
pytz = "*"
certifi = "*"
python-nest = "*"
PyYAML = "==3.13"
arrow = "*"
aiohttp = "*"
Rx = "*"

[requires]
python_version = "3.7.3"

[packages.ea9b6e5]
path = "./RainEagle"
editable = true

[packages.4ca3e16]
path = "./sense"
editable = true
